@import "tailwindcss";

@theme {
  --color-bleu: #2D6A8F;
  --color-lin: #C9B99A;
  --color-menthe: #96C7B3;
  --color-lagune: #6398A9;
  --color-fond: #FDF8F4;
  --font-nunito: 'Nunito', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

body {
  background: #FDF8F4;
  font-family: 'Poppins', sans-serif;
}